body{
    height: 100vh;
    margin: 0;
    background-color: #DFD0B8 ;
}

.container {
    width: 70%;
    margin: auto;
    text-align: center;
}


h1{
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 7rem;
    color: #153448 ;
}

.dice{
    display: inline-block;
    text-align: center;
    color: #153448;
    font-weight: bold;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
}

img{
    width: 80%;
}
.footer{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    position: absolute;
    bottom: 0;
    left: 40%;
    z-index: 10;
    color: #948979;
}

  